@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #00FFFF;
$subColor: #FFFFFF;
$keyColor: #000000;
$fontColor: #000000;


/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em; 
  }

.box {
  background-image: url("https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704__340.jpg");
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}



/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

// desktop
@media (min-width: 769px) {

  /* Base
  ------------------------------------------------------------*/
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    font-size: 3.2rem;
    @extend .uppercase;
    font-color:$subColor;
  }
}

// Skills
#skills {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);    // スキルボックスを縦に並べる
  }
  h2 {
    color: $baseColor;
    margin-bottom: 60px;
  }
  .skill-box {
    @include flex(1);
    margin: 10px 0;                     // 上下にマージン
    background-color: $subColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }
  .skill-box p {
    padding :20px;
  }
  h3 {
    @extend .abel;
    @extend .uppercase;
    color: $keyColor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
    background-color: $baseColor;
  
  }
}

// desktop
@media (min-width: 769px) {


  // Skills
  #skills {
    .container {
      @include flex-direction(row);     // スキルボックスを横に並べる
      justify-content: space-between;
    }
    .skill-box {
      margin: 0 10px;                   // 左右にマージン
    }
  }
}

.btn {
  font-size: 20px;
  display: block; 
  width: 30%;
  height: 20px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  color: #00FF3B;
  border: 2px solid #4c4c4c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
